<section class="block block--dark footer">
    <article class="container grid footer__grid">

      <!-- 1 -->

      <div class="collapsible collapsible--expanded  footer__grid-items">
        <header class="collapsible__header">
          <h2 class="collapsible__heading block__heading">PRODUCTS</h2>      
          </svg><svg class="icon icon--white collapsible__chevron footer__toggler">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>    
        </header>
        <div class="collapsible__content collapsible--expanded">
          <ul class="list ">
            <li class="list__items">
              WordPress Hosting
            </li>
            <li class="list__items">
              Free Automated WordPress 
            </li >
            <li class="list__items">
              Migrations
            </li>
            <li class="list__items">
              Domain Names
            </li>
            <li class="list__items">
              Monthly Web Hosting
            </li>
          </ul>
        </div>
    </div>

    <!-- 2 -->

      <div class="collapsible  footer__grid-items">
        <header class="collapsible__header">
          <h2 class="collapsible__heading block__heading">COMPANY</h2>
      
          </svg><svg class="icon icon--white collapsible__chevron footer__toggler">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>     
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="list__items">About</li>
            <li class="list__items">Affiliates</li>
            <li class="list__items">Blog</li>
            <li class="list__items">Careers</li>
            <li class="list__items">Community</li>
            <li class="list__items">News</li>
            <li class="list__items">Green Hosting</li>
          </ul>
        </div>
        </div>

      <!-- 3 -->

      <div class="collapsible  footer__grid-items">
        <header class="collapsible__header">
          <h2 class="collapsible__heading block__heading">SUPPORT</h2>
          </svg><svg class="icon icon--white collapsible__chevron footer__toggler">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>         
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="list__items">Contact</li>
            <li class="list__items">Knowledge Base</li>
            <li class="list__items">Forums</li>
            <li class="list__items">System Status</li>
            <li class="list__items">Web Hosting</li>
            <li class="list__items">DreamCompute</li>
          </ul>
        </div>
        </div>

        <!-- 4 -->

        <div class="collapsible footer__grid-items">
          <header class="collapsible__header">
            <h2 class="collapsible__heading block__heading">DOMAIN</h2>        
            </svg><svg class="icon icon--white collapsible__chevron footer__toggler">
              <use xlink:href="/images/sprite.svg#chevron"></use>
            </svg>       
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__items">Domain Transfer</li>
              <li class="list__items">Free Domain</li>
              <li class="list__items">XYZ Domain</li>
              <li class="list__items">Domain Checker</li>
              <li class="list__items">Cheap SSL Certificate</li>
            </ul>
          </div>
          </div>    
          <div class="footer__logo-sect ">
            <div><img src="/Images/logo.png" alt="" class="footer__logo"></div>
            <div>
              <p>Copyright &copy; 2020 Mosh Hamedani</p>
            </div>
          </div>
     </article>
  </section>